{% extends 'base.html' %} {% block content %}
 <div class="row">
    <div class="col s12 m6 l3"><p><img src="https://s3.amazonaws.com/com.niches.production/story_images/new_images/000/001/923/width_600/Sous-Vide-Lobster-Tomato-Salad-Close.jpg?1493475080" style="width:80%;"></p>Lobster Corn Salad</div>
    <div class="col s12 m6 l3"><p><img src="https://www.onceuponachef.com/images/2018/01/Chicken-Marsala-12.jpg" style="width:80%;"></p>Chicken Marsala</div>
    <div class="col s12 m6 l3"><p><img src="https://www.thespruceeats.com/thmb/A8K3-D7I9RKvbYiJ4rMZNuue-rI=/1333x1000/smart/filters:no_upscale()/steakhouse-garlic-butter-recipe-101899-8_preview-5b0ed96043a10300361904a1.jpeg" style="width:80%;"></p>Steakhouse Garlic Butter</div>
    <div class="col s12 m6 l3"><p><img src="https://cdn.shopify.com/s/files/1/0737/8339/products/spring_wreath_large.jpg?v=1468508916" style="width:65%;"></p>Celebration cake</div>
</div>       
            
  <div class="row">
   <div class="col s12"><p><h5>Our recipes features exceptionally fresh & seasonal ingredients of the highest quality prepared from scratch. Menu selections include noteworthy meats, flavorful seafood, handpicked local produce, & diverse beverage selections of craft beers, signature craft cocktails, and a variety of worldwide wine selections.</h5>
    </p>
   </div>
</div>




{% endblock %}
