{% extends 'base.html' %} {% block content %}

<h3>Products</h3>
<div calss="row">
<p>New line</p>
<p>
   With so many products on the market, it's hard to know what are essential kitchen tools and what you might only use from time to time. Below are the essentials for any starter kitchen, items that I use in my own home kitchen every day, or at least once a week.
</p>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Colorful Oven Safe</h5>       
           <p><img class="recipes-imag" src="https://images-na.ssl-images-amazon.com/images/I/91%2By1awmcQL._AC_SX679_.jpg" style="width:90%;"></p>
     </div> 
  <div class="col s6">
           <p>OVEN SAFE with MULTI QUART SIZE - Small, medium and large enamel over aluminum pots, skillet pan, and saucepan set has a capacity range from 1 to 4.2 qt and is oven safe up to 300°F (glass lids are NOT oven safe), making it a great bang for your buck
            COOKING UTENSILS and HANGER HANDLES - Comes with 5 non-stick cooking utensil accessories in heat resistant, BPA free black nylon that won't warp or scratch. Each has an ergonomic handle and hanging storage hole for convenient organization and display
            SETS for HOME DORM RV or CAMPING - Lightweight, multicolored big pots for family meals and mini travel sized cookware for outdoor backpacking are compatible with gas and electric stovetop ranges. NOT for use on induction cooktops. Hand wash only
           </p>
        <p>
            $53.99 Code:3
         </p>
 </div>
</div>
<div class="row"> 
   <div class="col s6">
     <h5>Silicone Kitchen Utensils Set - 10</h5>       
           <p><img class="recipes-imag" src="https://images-na.ssl-images-amazon.com/images/I/71s9DprqQIL._AC_SL1500_.jpg" style="width:90%;"></p>
     </div> 
 
 <div class="col s6">
           <p>   Material: The outer body of kitchen utensils is made from beautifully multicolored advanced silicone. All silicone used by Aybloom is FDA grade and BPA free.
          Easy to Clean: This silicone utensil sets are very easy to clean , just simply wipe in hot water or place them in the dishwasher.
          Colorful Design: Colorful colors are bright and energetic. The cooking set not only can decorate your kitchen but also keep you in a good mood while cooking.
          Wide Applications: 10 kitchen utensil is one set. Perfectly meet your multiple demands of Home Cooking, BBQ, Baking, Serving, Outdoor, Picnic, Camping, RV, Dorm, Lodge, Dorm, Gadget.
          Kitchen Utensils Includes :1 x Brush, 1 x Tongs, 1 x Spoon, 1 x Slotted Spoon, 1 x large Spatula, 1x Slotted turner, 1 x ladle, 1 x Baking Spoonula,1x Whisk, 1x small Spatula.
      </p>
  
        <p>
            $36.99 code: 4
         </p>
 </div>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Perfect Plus Pressure Cooker 6.5L</h5>       
           <p><img class="recipes-imag" src="https://shop.r10s.jp/daily-3/cabinet/wmf/wmf018wf-2138.jpg" style="width:90%;"></p>
     </div> 
<div class="col s6">
           <p>The Perfect Plus pressure cooker is a practical cookware that saves time, energy, and also preserves most of the vitamins, minerals and nutrients.High grade Cromargan 18/10 Stainless Steel materials
          TUV tested safety,Suitable for all stove types,Scaling on the inside makes measuring amounts easier
        </p>    
  
        <p>
            $200.99 code:G24
         </p>
 </div>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Jura 15145 Automatic Coffee Machine WE8, Chrome</h5>       
           <p><img class="recipes-imag" src="https://images-na.ssl-images-amazon.com/images/I/713C12As-eL._AC_UL480_SR405,480_.jpg" style="width:90%;"></p>
     </div> 
<div class="col s6">
            <p>
               ONE TOUCH: Prepare 12 barista quality specialties including perfect espresso with JURA's exclusive Pulse Extraction Process, coffee, cappuccino, flat white and latte macchiato at the touch of a button
               CONICAL BURR GRINDER: Fast and precise AromaG3 grinder grinds whole beans to the optimum fineness
               ECO FRIENDLY: JURA is always freshly ground, not capsuled - fresh taste with very limited waste - single serve machine
               OFFICE USE: Perfect machine for your workplace - ideal for small offices and self-serve coffee bars
               CAPACITY: 101 ounce water tank, 17.6 ounce bean container
           
           </p>    
  
        <p>
            $1,800.99 code:S10
         </p>
 </div>
</div>














<div class="row"> 
   <div class="col s6">
     <h5>A KITCHEN BY SIEMENS!</h5>       
           <p><img class="recipes-imag" src="https://gluttonyreviews.files.wordpress.com/2017/08/unadjustednonraw_thumb_8113.jpg" style="width:90%;"></p>
     </div> 
 
<div class="col s6">
         <p>
            The Domino hob had an amazing trio or a deep fryer, a barbeque grill and a teepan yaki. The deep fryer with a finger slide temperature controller lets you reuse oil without leaving a black residue. Frying becomes extremely easy with the dip basket and a tuck loop for the basket to let the excess oil drain away after a perfect fry. 
        </p>    
  
        <p>
            $3,500.99 Code:G80
         </p>
 </div>
</div>







{% endblock %}