{% extends 'base.html' %} {% block content %}

<h3>Recipes</h3>

<div class="row">
 <div class="col s12">
 <h3 class="center-align">Sea Food - Chicken  - Meat - Cakes</h3>
 <h5 class="center-align">We have more recipes below</h5>
 </div>
 <div class="row">
 <div class="col s12">
 <h5 class= "center-align">Our recipes are inspired by humble beginnings. It is a treasure of recipes passed on from generation to generation.</h5>
  </div>
 </div>
</div>

<div class="row">
   <div class="col s12">
       <h5 class="center-align">You can post your recipes and comments below</h5>
     </div>
 </div>   

<div class="row">

    <ul class="collapsible" data-collapsible="expandable">
        {% for recipies in recipes %}
  
        <li>
            <div class="collapsible-header">
                
                <a href="{{url_for('delete_recipies',recipies_id=recipies._id)}}" class="waves-effect waves-light  btn  btn_large red">Del </a>   
                    
                <a href="{{url_for('edit_recipies',recipies_id=recipies._id)}}"  class="waves-effect waves-light  btn  btn_large green">Edit </a>
                
                
               
                <div class="task_header">
                    <strong>{{recipies.recipies_name}}</strong>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>
<div class="row">
    <a href="{{url_for('add_recipies')}}" class="waves-effect waves-light btn blue">
        <i class="material-icons right">recipes_add</i>Add Recipes
    </a>
</div>

 

<h4 class="center-align">Sea Food</h4>

  
  
<div class="row"> 
   <div class="col s6">
     <h5>Crispy Salmon</h5>       
           <p><img class="recipes-imag" src="https://www.seriouseats.com/recipes/images/2012/06/20120613-crispy-salmon-bok-choy-basil-caper-vinaigrette-9.jpg" style="width:90%;"></p>
     </div> 
  <div class="col s6">
      
            <h5>Ingredients</h5>
              <p>2 tablespoons capers, drained, rinsed, and roughly chopped, 2 tablespoons chopped pitted kalamata or taggiasche olives,
           1 small shallot, minced (about 1 tablespoon),1 thai bird or serrano pepper, seeded and chopped,
           1/2 cup chopped fresh basil leaves,    
           2 scallions, finely sliced,3 anchovy filets, finely chopped,1 teaspoon honey,1 tablespoon juice from 1 lemon,1 tablespoon balsamic vinegar,1/3 cup extra-virgin olive oil,Kosher salt and freshly ground black pepper,4 skin-on salmon filets, about 6 ounces each
           2 tablespoons vegetable or canola oil,1 1/2 pounds baby bok choy, leaves cleaned and rinsed, but not dried
           For the Frosting:,12 ounces cream cheese, room temperature,12 ounces butter, room temperature,1 1/2 teaspoon vanilla,3 cups powdered sugar,2 ounces white chocolate shaved from a bar for garnish (optional)        
     </p>
    </div>    
</div>

<div class="row"> 
 <div class="col s6">
     <h5>Lobster Corn Salad</h5>  
 <p><img class="recipes-imag" src="https://s3.amazonaws.com/com.niches.production/story_images/new_images/000/001/923/width_600/Sous-Vide-Lobster-Tomato-Salad-Close.jpg?1493475080" style="width:90%;"></p>
 </div>

   <div class="col s6">
       <h5>Ingredients</h5>
            
          <p> Preheat a water bath to 131°F (55°C).Place all the ingredients in a sous vide bag then seal. Cook until heated through, 20 to 40For the Lobster Tails,4 lobster tails, shell removed,4 tablespoons butter,8 basil leaves,For the Tomato and Corn Salad
           2 cups diced fresh tomatoes,1 cup cooked corn kernels,1 avocado, diced,8 basil leaves,1 tablespoons lemon juice,2 tablespoons olive oil,To Assemble,1 lemon, cut into eighths,Sea salt
          </p>
 </div>
</div>

  
  
  <div class="row"> 
    <div class="col s6">
     <h5>King Crab pasta</h5>  
 <p><img class="recipes-imag" src="https://www.fortuitousfoodies.com/wp-content/uploads/2015/09/Crab-Fettucine-champagne-lemon-cream-sauce-1024x892.jpg" style="width:90%;"></p>
    </div>
 <div class="col s6">
       <h5>Ingredients</h5>
       <p>
           ¼ cup champagne or prosecco,,¼ cup heavy cream,1/3 cup finely chopped shallot,2 tablespoons cold unsalted butter, cut into tablespoon pieces,½ Tbsp of EVOO,1 lb jumbo lump crabmeat, picked over or in crab leg form (whatever your preference is),3 tablespoons chopped fresh basil,½ cup peas
           ¼ cup halved cherry tomatoes,1 1/2 teaspoons finely grated fresh lemon zest,3 tablespoons fresh lemon juice,1/2 teaspoon salt + pepper,1/2 lb dried egg fettuccine,Parmesan cheese optional
           Cook pasta in a large pot of boiling salted water, stirring occasionally, until al dente. Drain, reserving ½ cup of pasta cooking liquid.
            Meanwhile, melt 1 Tbsp. EVOO with 1/2 Tbsp. Butter in a large skillet over medium heat. Add shallots and stir until just soft, 3–4 minutes. Add garlic and cook, stirring often, until fragrant, about 1 minute. Add ½ cup peas and ¼ cup halved cherry tomatoes cook for about 1 minute.
          
       </p>
  </div>
 </div>
 

<div class="row"> 
 <div class="col s6">
     <h5>Shrimp Soup </h5> 
  <p><img class="recipes-imag" src="https://magicskillet.com/wp-content/uploads/2017/04/easy-slow-cooker-chicken-shrimp-soup-recipe.jpg" style="width:75%;"></p>
 </div>

<div class="col s6">
       <h5>Ingredients</h5>
 <p>2 cans (14½ oz (435 ml) each) low-sodium,fat-free chicken broth,1/2 pound (240 g) boneless and skinless chicken breast, cubed,4 sliced green onions,4 chopped plum tomatoes,1 carrot, peeled and sliced
    1/8 teaspoon crushed red pepper,1/8 teaspoon celery seeds,1/2 pound (240 g) shrimp, peeled and deveined,freshly squeezed juice of 1 lime,1 teaspoon grated lime zest,salt and freshly ground black pepper,to taste
   In a slow cooker, combine chicken broth, cubed chicken, green onions, carrots, tomatoes, crushed red pepper and celery seeds. Cover and cook on high-heat setting for 4-5 hours, adding shrimp during the last 20 minutes .
   Turn off slow cooker. Ladle chicken shrimp soup into soup bowls. Serve hot.
</p> 
 </div>

</div> 
<div>
    <h4 class="center-align">Chicken</h4>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Chicken Marsala</h5>       
           <p><img class="recipes-imag" src="https://www.onceuponachef.com/images/2018/01/Chicken-Marsala-12.jpg" style="width:95%;"></p>
         </div> 

  <div class="col s6">
      <h5>Ingredients</h5>
        <p>shallot,,2cloves garlic, minced,2/3 cup chicken broth,2/3 cup dry Marsala wine,2/3 cup heavy cream,2 teaspoons chopped fresh thyme,2 tablespoons chopped fresh Italian parsley, for serving (optional),3 tablespoons finely chopped shallots, from 1 medium shallot,2 cloves garlic, minced,2/3 cup chicken broth,2/3 cup dry Marsala wine,2/3 cup heavy cream,2 teaspoons chopped fresh thyme,2 tablespoons chopped fresh Italian parsley, for serving (optional)     
        Place the flour, 3/4 teaspoon salt, and 1/4 teaspoon pepper in a ziplock bag. Add the chicken to the bag; seal bag tightly and shake to coat chicken evenly. Set aside.Heat the oil and 2 tablespoons, 
        of the butter in a large skillet over medium-high heat. (Use a stainless steel pan for the best browning. Nonstick will work too, but you won’t get that nice golden color on the chicken.) Place the flour-dusted chicken in the pan, shaking off any excess first, and cook, turning once, until the chicken is golden and just barely cooked through, about 5 to 6 minutes total. Transfer the chicken to a plate and set aside.
       
        </p>
    </div>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Simple Fried Chicken</h5>       
           <p><img class="recipes-imag" src="https://www.lakegenevacountrymeats.com/wp-content/uploads/Fried-Chicken-Pieces.jpg" style="width:95%;"></p>
         </div> 
 
 <div class="col s6">
      <h5>Ingredients</h5>
        <p>
            1 Chicken ( fryer chicken, either purchased cut up (recommended) or purchased whole and broken down into pieces),3 Egg,2 cups Flour,1 cup Kosher Salt,25 cup Pepper,25 cup Garlic Powder,1 Tbsp Paprika,Vegetable Oil ( or peanut oil fo
        In a large bowl, beat the eggs. In another bowl, combine the salt, pepper, garlic powder and paprika to make a seasoned salt. Add the flour to a third bowl.
        Prepare the chicken by first seasoning each piece of chicken to your taste with the seasoned salt. Then dip each piece in the egg and drag through flour until coated well.
        Fill a large pot or deep fryer half full with oil and heat to 350°F. Place the chicken parts in and fry until dark and crisp. The thighs and legs will take longer to cook – about 15 minutes – than the breast and wings, which will take about 10 minutes.
        Remove from heat, let sit for 5 minutes to cool and enjoy!
        </p>
       <!-------- src="https://www.lakegenevacountrymeats.com/wp-content/uploads/Fried-Chicken-Pieces.jpg"------------------>
  </div>
</div>

<div>
    <h4 class="center-align">Meat</h4>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Steakhouse Garlic Butter</5>       
           <p><img class="recipes-imag" src="https://www.thespruceeats.com/thmb/A8K3-D7I9RKvbYiJ4rMZNuue-rI=/1333x1000/smart/filters:no_upscale()/steakhouse-garlic-butter-recipe-101899-8_preview-5b0ed96043a10300361904a1.jpeg" style="width:95%;"></p>
         </div> 
<div class="col s6">
      <h5>Ingredients</h5>
        <p>1 stick (1/2 cup) unsalted butter,3 garlic cloves (crushed and minced fine),1/2 teaspoon Worcestershire sauce,1/4 teaspoon white pepper (may substitute black),1/4 teaspoon kosher salt (or to taste),1 tablespoon fresh parsley (chopped),
         Gather the ingredients.,Put the butter in a bowl and leave at room temperature until it is soft,enough to work with. 
         Have a piece of plastic wrap ready and scoop out butter onto the wrap, using a spatula to scrape sides of the bowl. Shape into a log and pull sides of plastic wrap over to seal, twisting ends to close tightly.Add all the other ingredients and mix with a fork to combine thoroughly.
         Roll wrapped butter back and forth to create an evenly shaped log. Place in refrigerator or freezer to harden.
         When ready to use, unwrap and slice into 1/4-inch rounds. Place on top of hot, sizzling steaks just before serving.
 
 </div>
</div>
 <div class="row"> 
   <div class="col s6">
     <h5>Beef stew</5>       
           <p><img class="recipes-imag" src="https://s23209.pcdn.co/wp-content/uploads/2016/10/Slow-Cooker-Beef-StewIMG_3526.jpg" style="width:70%;"></p>
         </div> 

<div class="col s6">
      <h5>Ingredients</h5>
      <p>2 tablespoons olive oil,2 pounds stew meat, cut into 1-inch cubes,Kosher salt and freshly ground black pepper, to taste,1 pound baby red potatoes, quartered,4 carrots, cut diagonally into 1/2-inch-thick slices,1 onion, diced,3 cloves garlic, minced,3 cups beef broth,2 tablespoons tomato paste,1 tablespoon Worcestershire sauce,
         1 teaspoon dried thyme,1 teaspoon dried rosemary,1 teaspoon smoked paprika,1 teaspoon caraway seeds, optional,2 bay leaves,1/4 cup all-purpose flour,2 tablespoons chopped fresh parsley leav, 
         Heat olive oil in a large skillet over medium heat.,Season beef with salt and pepper, to taste. Add beef to the skillet and cook until evenly browned, about 2-3 minutes.
         Place beef, potatoes, carrots, onion and garlic into a 6-qt slow cooker. Stir in beef broth, tomato paste, Worcestershire, thyme, rosemary, paprika, caraway seeds and bay leaves until well combined; season with salt and pepper, to taste.,Cover and cook on low heat for 7-8 hours or high heat for 3-4 hours.
         In a small bowl, whisk together flour and 1/2 cup stew broth. Stir in flour mixture into the slow cooker. Cover and cook on high heat for an additional 30 minutes, or until thickened.
         Serve immediately, garnished with parsley, if desired.
      
      </p>

</div>
</div>
<div>
    <h4 class="center-align">Cakes</h4>
</div>

<div class="row"> 
   <div class="col s6">
     <h5>Flower cake</5>       
           <p><img class="recipes-imag" src="https://images.squarespace-cdn.com/content/v1/53458daee4b00c883f8a9781/1402780545094-Q8XSU5T7NOZFIQFP6KD7/ke17ZwdGBToddI8pDm48kGrI9g-Hawit2n9W-X-h9WNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpx8Q6piinUKEdOUjAZ9J_8oSVjIn3Vcka1OivK0DouQ6qQWI7dn9ktc3iNnBjYqtbs/eatcakebemerry_purple+flower_buttercream_cake_2.png" style="width:70%;"></p>
         </div> 

<div class="col s6">
      <h5>Ingredients</h5>
   <p>Butter cakes,375 gunsalted butter, softened,1½ cups(330 g) caster sugar,1 tspvanilla bean paste,6eggs, lightly beaten,3 cups(450 g) self-raising flour,Butter cream,375 gunsalted butter,4½ cups(720 g) icing sugar mixture,1-2 tbspmilk, if needed.   
      Preheat oven to moderate / 180°C (160°C fan-forced). Lightly grease three 20cm round tins.
      Using an electric mixer beat butter, sugar and vanilla in a large bowl until pale and creamy. Add the eggs one at a time and beat until well combined.  Sift the flour, and fold into the creamed butter mixture in two lots., 
      Spoon the mixture evenly into the cake tins and smooth the surface. Try to distribute the batter evenly. For a naked cake it’s a good idea to weigh the mixture in the tins (as a guide, ours had around 450g in each cake tin).
      Bake for 25 minutes or until a skewer comes out clean when inserted in centre of cake. Leave to cool in tin for 10 minutes, and then carefully remove to finish cooling, cut side down, on a wire rack.
      To make butter cream: Use an electric mixer to beat the butter in medium bowl until pale, smooth and creamy. Add icing sugar, in small batches, until well combined. Start out adding it a spoonful at a time. Only add a little milk if the butter cream is too stiff.
   </p>

 </div>
</div> 
<div class="row"> 
   <div class="col s6">
     <h5>Chocolate Pumpkin Bat Cake</5>       
           <p><img class="recipes-imag" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/halloween-cakes-bat-cake-1561043397.jpg" style="width:70%;"></p>
         </div> 


<div class="col s6">
      <h5>Ingredients</h5>
   <p>  
         2 c. all-purpose flour,3/4 c. unsweetened cocoa,1 1/2 tsp. baking soda,1/4 tsp. salt,1 c. lowfat buttermilk,3/4 c. canned pure pumpkin,2 c. granulated sugar,3 large eggs
        Prepare cake: Preheat oven to 350 degrees F. Grease two 8-inh round cake pans. Line bottoms with parchment paper; grease. Dust pans with flour.
        In large bowl, whisk flour, cocoa, baking soda, and salt. In medium bowl, whisk buttermilk, pumpkin, and vanilla. In large bowl, with mixer on low speed, beat butter and sugar until blended. Increase speed to high; beat 5 minutes or until pale and fluffy, occasionally scraping bowl with rubber spatula. Reduce speed to med.-low; add eggs, 1 at a time, beating well after each addition. Add flour mixture alternately with buttermilk mixture, beginning and ending with flour mixture; beat just until batter is smooth, occasionally scraping bowl with rubber spatula.
        Divide batter evenly among prepared pans. Bake cakes 30 to 35 minutes or until toothpick inserted in centers comes out clean. Cool in pans on wire racks 10 minutes. With small knife, loosen layers from sides of pans; invert onto wire racks. Carefully remove and discard parchment; cool completely, about 45 minutes. Layers can be wrapped in plastic and stored at room temperature up to 1 day or in freezer up to 1 month. Bring to room temperature before decorating.
         Meanwhile, prepare Brown Butter Frosting; tint with orange gel food coloring to desired shade. Place 1 cake layer onto cake stand. Top with one-third of frosting; spread evenly. Add second cake layer on top. Spread remaining frosting all over top and sides of cake. Cake can be stored, covered with plastic wrap and refrigerated, up to 3 days.
   </p>
   

 </div>
</div> 













<div class="row"> 
   <div class="col s6">
     <h5>Celebration cake</5>       
           <p><img class="recipes-imag" src="https://cdn.shopify.com/s/files/1/0737/8339/products/spring_wreath_large.jpg?v=1468508916" style="width:70%;"></p>
         </div>       

<div class="col s6">
      <h5>Ingredients</h5>
      <p>
      Butter cakes,375 gunsalted butter, softened,1½ cups(330 g) caster sugar,1 tspvanilla bean paste,6eggs, lightly beaten,3 cups(450 g) self-raising flour,Butter cream,375 gunsalted butter,4½ cups(720 g) icing sugar mixture,1-2 tbspmilk, if needed.   
      Preheat oven to moderate / 180°C (160°C fan-forced). Lightly grease three 20cm round tins.
      Using an electric mixer beat butter, sugar and vanilla in a large bowl until pale and creamy. Add the eggs one at a time and beat until well combined.  Sift the flour, and fold into the creamed butter mixture in two lots., 
      Spoon the mixture evenly into the cake tins and smooth the surface. Try to distribute the batter evenly. For a naked cake it’s a good idea to weigh the mixture in the tins (as a guide, ours had around 450g in each cake tin).
      Bake for 25 minutes or until a skewer comes out clean when inserted in centre of cake. Leave to cool in tin for 10 minutes, and then carefully remove to finish cooling, cut side down, on a wire rack.
      To make butter cream: Use an electric mixer to beat the butter in medium bowl until pale, smooth and creamy. Add icing sugar, in small batches, until well combined. Start out adding it a spoonful at a time. Only add a little milk if the butter cream is too stiff.
   </p> 
          
    
</div>
</div> 





{% endblock %}
