{% extends 'base.html' %} {% block content %}

<h3>Home cooks</h3>

  <table class="bordered">
        <thead>
          <tr>
              <th>Recipes name</th>
              <th>Preparation time</th>
              <th>Cooking time</th>
              <th>People</th>
              <th>Amount</th>
          </tr>
        </thead>

        <tbody>
  
          <tr class="bordered">
            <td>Chicken Marsala</td>
                <td>30 minutes</td>
              <td>1 hours</td>
            <td>4</td>
            <td>$20</td>
          </tr>
  
         
        <tbody>   
          <tr>
            <td>Beef stew</td>
             <td>30 minutes</td>
              <td>2 hours</td>
            <td>6</td>
            <td>$20</td>
          </tr>
        
          <tr>
            <td>Steakhouse Garlic Butter</td>
             <td>30 minutes</td>
              <td>8 minutes</td>
            <td>1</td>
            <td>$15</td>
          </tr>
         
          <tr>
            <td>King Crab pasta</td>
             <td>30 minutes</td>
            <td>25 minutes</td>
            <td>3</td>
            <td>$ 20</td>
          </tr>
         <tr>
        
          <tr>
            <td>Shrimp Soup</td>
             <td>10 minutes</td>
            <td>35 minutes</td>
            <td>1</td>
            <td>$ 8</td>
          </tr>
        
         <tr>
            <td>Celebration cake</td>
              <td>2 hours</td>
            <td>1 hours</td>
            <td>10</td>
            <td>$60</td>
          </tr>
       <tr>
        <td>Crispy Salmon</td>
          <td>1 hours</td>
           <td>1 hours</td>
            <td>2</td>
            <td>$10</td>
          </tr>
        
        <tr>
      <td>Simple Fried Chicken</td>
          <td>1 hours</td>
           <td>12 minutes</td>
            <td>10</td>
            <td>$10</td>
          </tr>
        <tr>
          <td>Chocolate Pumpkin Bat Cake</td>
              <td>4 hours</td>
            <td>1 hours</td>
            <td>15</td>
            <td>$60</td>
          </tr>           
        </tr>
    </thead>
</table>



{% endblock %}